<%- include('../partials/header') %>

<h2>Add a New Company</h2>
<form action="/" method="POST" class="form-container">
    <input type="text" name="name" placeholder="Company Name">
    <input type="text" name="founded" placeholder="Date Founded">
    <input type="number" name="employees" placeholder="Number of Employees">
    <input type="text" name="products" placeholder="Products (comma separated)">
    <input type="text" name="ceoName" placeholder="CEO Name">
    <input type="text" name="ceoAge" placeholder="CEO Age">
    <select name="active">
      <option value="active">Active Company</option>
      <option value="inactive">Inactive Company</option>
    </select>
  <br>
  <button type="submit">Add Company!</button>
</form>

<p><%= err %></p>

<%- include('../partials/footer') %>